In [ ]:
a=10
b=20
if a==10 and b==20:
    print("valid statement")

In [ ]:
fname= str(input("enter first name"))
lname= str(input("enter last name"))
if fname=="sandeep" and lname=="sanwal":
    print("this is valid")
else:
    print("this name is not valid")

## while loop

In [ ]:
in_speed = 0
fin_speed=100
count =1
while in_speed <= fin_speed :
    print("this is my speed")
    count=count+1
    if count ==5:
        break

In [ ]:
in_speed = 0
fin_speed=5
#count =1
while in_speed < fin_speed :
    print("this is my speed")
    #count=count+1
    in_speed =in_speed+1

In [ ]:
notes =5
i=1
j=1
while i<notes:
    print(i)
    i=i+1
else:
    while j<2:
        print(i)
    j=j+1
    print("no 5 notes here")

In [ ]:
S="SANDEEP"
S[3]

## For Loop

In [ ]:
s="my name is sandeep"
for x in s:
    print(x)

In [ ]:
for i in s:
    print(i)
else:
    if i == "p" :
        print("this is l part")
    print("nothing much")

In [ ]:
for i in s:
    if i == "n":
        break  # it will not excute else candition
    print(i)
else:
    if i == "p" :
        print("this is l part")
    print("nothing much")

In [ ]:
for i in s:
    if i == "n":
        continue # once it will get i=n , loop will continue and will not pring n here
    print(i)
else:
    if i == "p" :
        print("this is l part")
    print("nothing much")

In [ ]:
s= "sandeep"
ss=""
for i in range(len(s)):
    if s[i] =="e":
        continue
    else:
        #print(s[i])
        ss= ss+s[i]
        # print()

In [ ]:
ss

In [ ]:
n=7
for i in range(n):
    for j in  range(i+1):
        print ("*" , end ="") #In Python 3. x, the end=' ' is used to place a space after the displayed string instead of a newline
    print("\r") #"\t" is a tab, "\n" is a newline, and "\r" is a carriage return.

In [ ]:
n= int(input("no of lines"))
for i in range(n,0,-1):
    for j in range(n-i):
        print(" " , end ="")
    for j in range(2*i-1):
        print("*" ,end ="")
        print("\r")

In [ ]:
n=7
for i in  range(n):
    print("*")
    for j in range(n-i):
        print(" " , end ="")

In [ ]:
n=7

In [3]:
n=9
i=0
while i<n:
    print(" "*(n-i-1) + "* " *(i+1))
    i+=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [12]:
n= int(input("no of row"))
for i in range (n,n,2):
    print(i)

no of row4
0
2

## List

In [ ]:
# no array exist in core python so we have list
#list is a data structure which can hold hetrogenious and humogenious dataset.
#we can hols any type of data in list

In [4]:
list1= ["sandeep", 8765345 , "haldwani"]
list1

['sandeep', 8765345, 'haldwani']

In [5]:
type(list1)

list

In [28]:
l2= ["sandeep", 34567 , "haldwani" , 45+3j , ["sandeep", 3, 6,5 , "haldwani"], True,5.678,["sandeep", 34,5,6,7 , "haldwani"]]
l2

['sandeep',
 34567,
 'haldwani',
 (45+3j),
 ['sandeep', 3, 6, 5, 'haldwani'],
 True,
 5.678,
 ['sandeep', 34, 5, 6, 7, 'haldwani']]

In [17]:
for i in l2:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'complex'>
<class 'list'>
<class 'bool'>
<class 'float'>

In [23]:
for i in l2:
    if type(i) == list:
        for j in i:
            print(type(j))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>

In [24]:
for j in i:
    print(type(j))

<class 'str'>
<class 'int'>
<class 'str'>

In [29]:
l2

['sandeep',
 34567,
 'haldwani',
 (45+3j),
 ['sandeep', 3, 6, 5, 'haldwani'],
 True,
 5.678,
 ['sandeep', 34, 5, 6, 7, 'haldwani']]

In [32]:
for i in l2:
    if type(i)== list:
        n=0
        for j in i:
            
            if type(j)==int:
                n=n+j
        print(n)
        print()

14

52

In [37]:
l3 = ["sandeep", 34567 , "haldwani" , 45+3j , ["sandeep", 3, 6,5 , "haldwani"], True,5.678]
l3

['sandeep',
 34567,
 'haldwani',
 (45+3j),
 ['sandeep', 3, 6, 5, 'haldwani'],
 True,
 5.678]

In [42]:
l3[-3:-6]

[]

In [50]:
list(range(5))

[0, 1, 2, 3, 4]

In [51]:
list (range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
len(l3)

7